// Colors
$color-base: #333;
$color-adminlabsblue: #0452b0;
$color-adminlabs_warmgreen: #53c935;
$color-success: #19cd77;
$color-error: #ef331e;
$color-warning: #ffaa2a;

// Fonts
$font-base: 'Proxima Nova', sans-serif;
