@import 'pure-css-loader/src/css-loader';
@import 'helpers';
@import 'variables';

body {
  background: $color-adminlabsblue;
  width: 100%;
  position: relative;
  margin: 0;
  text-align: center;
  padding: 20px;
  font-family: $font-base;

  @media(min-width: 768px) {
    height: 100vh;
    padding: 0;
  }
}

.loader,
.loader.is-active {
  background: rgba(#fff, .8);
  opacity: 0;
  z-index: -1;
  transition: all .2s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &.show {
    opacity: 1;
    z-index: 100;
  }

  &:before,
  &:after {
    color: #222;
    border-color: #222;
    border-left-color: #fff;
  }
}

.wrapper {
  height: 100vh;

  form {
    position: relative;
    top: 50%;
    transform: translateY(-45%);

    input {
      border: 0;

      &.url {
        font-size: 16px;
        line-height: 32px;
        height: 55px;
        max-width: 250px;
        width: 100%;
        padding-left: 40px;
        border-radius: 30px 0 0 30px;
        font-family: $font-base;
        font-weight: 300;

        @media(max-width: 820px) {
          width: 60%;
          float: left;
        }

        @media(max-width: 480px) {
          width: 50%;
        }
      }

      &.submit {
        height: 57px;
        line-height: 1.5;
        margin-left: -5px;
        position: relative;
        top: -1px;
        border-radius: 0 30px 30px 0;
        background: $color-adminlabs_warmgreen;
        color: #fff;
        border: 0;
        width: auto;
        padding: 18px 40px;
        display: inline;
        margin-bottom: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: 150ms linear all;
        appearance: none;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;

        @media(max-width: 820px) {
          float: left;
          top: 0;
        }
      }
    }
  }
}

.data {
  height: 0;
  transition: all 1s;
  font-family: $font-base;

  &.error {
    color: #f00;
    height: 40px;
  }

  &.hasdata {
    height: auto;
  }
}
